html {
    height: 100%;
}

#hud {
    width: 16vh;
    height: 1.6vh;
    position: relative;
    display: flex;
    top: 48vh;
    left: 2vh;
    transform: skew( -16deg );
}

#icon {
    width: 2vh;
    background-color: #e67e22;
    padding: .2vh;
}

#bar_bg {
    width: 100%;
    background-color: #2d3436;
    overflow: hidden;
    margin: .6vh;
}

#bar {
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
    transition: all 1s;
}